


<style>
    .rb-box {
  width: 80%;
  max-width: 420px;
  margin: 50px auto;
  padding: 1.3em;
  background: #ffff;
  border-radius: .75em;
  -webkit-filter: drop-shadow(1px 2px 5px rgba(0,0,0,.3));
  filter: drop-shadow(1px 2px 5px rgba(0,0,0,.3));
  box-shadow:
            0 2px 2px rgba(255, 206, 71,.1),
        0 0px 5px rgba(255, 206, 71,.5),
            0 0px 4px rgba(255, 206, 71,.0),
            0 5px 20px rgba(255, 206, 71,.90),
            0 15px 50px rgba(255, 206, 71,.75),
        inset 0 0 15px rgba(255, 206, 71,.05);

    }
             .carosel {

            padding: 0px;
           
              color: rgba(255, 206, 71,.90);
                width: 100%;
    
                top: 100%;
            left:100%;

        }

</style>



<!DOCTYPE html>
<html lang="tr">

<head>
    
        <meta charset="utf-8">
        <title>TURAN</title>
        <link rel="Website icon" type="png" href="/img/site.png" />

        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free HTML Templates" name="keywords">
        <meta content="Free HTML Templates" name="description">
      
        <!-- Favicon -->
        <link href="/img/favicon.ico" rel="icon">
        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <!-- Libraries Stylesheet -->
        <link href="/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <!-- Customized Bootstrap Stylesheet -->
        <link href="/css/style.css" rel="stylesheet">


    <link rel="stylesheet" href="/css/jquery.rateyo.css">
    <link href="/css/jquery.rateyo.css" rel="stylesheet" />
      
        <!-- kullanici girisi icin tanitilmasi gereken sweetalet burada tanimlandi unutma!!!!!!!!! -->
        <link href="~/lib/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />
      
      
        <!--SONRADAN EKLENDI TAKIP ET SORUNLARI!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <link rel="stylesheet" href="/AdminArea/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="/AdminArea/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
        <link rel="stylesheet" href="/AdminArea/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
        @RenderSection("customStyles", false)
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center h-100">
                    <a class="text-body mr-3" href="#divMessage">Hakkında</a>

                   

                    <a class="text-body mr-3" href="/Iletisim/Index">İletişim</a>
                    <a class="text-body mr-3" href="/Iletisim/Index">Yardım</a>
                   
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Hesabım</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            



                            <a class="dropdown-item" href="/MusteriGiris/LogIn">Giriş Yap</a>
                            <a class="dropdown-item" href="/MusteriGiris/LogOut">Çıkış</a>
                            <a class="dropdown-item" href="/MusteriGiris/MusteriKayit">Kayıt Ol</a>
                        </div>
                    </div>
                    
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">TR</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button">EN</button>
                           
                        </div>
                    </div>
                </div>
                <div class="d-inline-flex align-items-center d-block d-lg-none">
                   @* <a href="" class="btn px-0 ml-2">
                        <i class="fas fa-heart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>*@
                <a href="/MusteriGiris/Hesabim" class="btn px-0 ml-2">
                        <i class="fas fa-shopping-cart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
            <a href="/Home/Index" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">TU</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">RAN</span>
                </a>
            </div>


        <!--aramaaramaaramaaramaaramaaramaaramaaramaaramaaramaaramaaramaaramaaramaarama -->

            <div class="col-lg-4 col-6 text-left ">
                <form action="">
                    <div class="input-group">

                    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                      {


                        @Html.TextBox("ara", null,new {id = "txtara", @class = "form-control", placeholder ="Ürün Ara"})

                        @*@Html.ActionLink("","Index", new{@class = "fa fa-search carosel"})*@
                          
                      }


                           @* <p>
                            @Html.TextBox("urun")
                            <input type="submit" class="fa fa-search" value="Find" />
                            </p>*@
                        
                        @* @Html.TextBox("urun", "",new {id ="txturun",required=true, placeholder ="Ürün Ara" , @class = "form-control"})*@

                  @*  <i href="/Urun/UrunDetail" class="fa fa-search"></i>*@
                    
                    @*<input type="text" class="form-control" placeholder="Ürün Ara">*@


                       
                    </div>
                </form>
            </div>
        <!--aramaaramaaramaaramaaramaaramaaramaaramaaramaaramaaramaaramaaramaaramaarama -->
   </div>


    <!-- kullanici girisi icin tanitilmasi gereken jquery burada tanimlandi unutma!!!!!!!!! -->
   
    <script src="/AdminArea/plugins/jquery/jquery.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.js"></script>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.rateyo.min.js"></script>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    @await Component.InvokeAsync("NavBar")
    <!-- Navbar End -->

    @RenderBody()
    

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Bilgi</h5>
                <p class="mb-4">Soru ve görüşleriniz için iletişime geçebilirsiniz. İyi Alışverişler...</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Malazgırt mah. 1009.cadde No:34/2 Ankara ÇANKAYA/DİKMEN</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>tugran.tyz@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+905348811111</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                            <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Bülten</h5>
                        <p>İki kişinin ayağa kalkması için çok önemli bir zaman</p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Email Adresinizi Giriniz">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Üye Ol</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Sosyal Media</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed
                    by
                    <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <div id="divMessage"></div>
              <!-- Footer End -->
              <!-- Back to Top -->
              <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    
              <!-- JavaScript Libraries -->
              <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
              <script src="/lib/easing/easing.min.js"></script>
              <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
            
              <!-- Contact Javascript File -->
              <script src="/mail/jqBootstrapValidation.min.js"></script>
              <script src="/mail/contact.js"></script>
            
              <!-- Template Javascript -->
              <script src="/js/main.js"></script>
            
            
              <!-- SONRADAN EKLENDI TAKIP ET SORUNLARI -->
              <script src="/AdminArea/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
              <script src="/AdminArea/dist/js/adminlte.min.js"></script>
    @RenderSection("customScripts", false)
   </body>

</html>